<div id="index">
  <!-- Intro section with background image -->
  <div id="intro">
    <img alt="Background" src="images/index/background.jpg">
    <h1>BE LIKE WATER</h1>
    <p> <!-- Spans are used to bind parts of sentences together for improved on-screen readability -->
      <span>We are a</span> <span>student group</span> <span>dedicated to teaching</span> <span>and practicing</span> <span><b>Ju Jitsu</b>.</span>
      <br> <span>Contact us, and</span> <span>join our trainings.</span> <span>Everyone is welcome!</span>
    </p>
  </div>

  <!-- Navigation section with illustrations and descriptions of pages
       Description text should not be longer than 150 characters -->
  <div id="navsect">
    <a href="?page=sport">
      <img alt="sport" src="images/index/sport.jpg">
      <h1>Ju Jitsu</h1>
      <p>What is Ju Jitsu? Learn a little bit about this ancient martial art here.</p>
    </a>
    <a href="?page=group">
      <img alt="group" src="images/index/group.jpg">
      <h1>Our group</h1>
      <p>Our members range from complete beginners to experienced practitioners. Find out more about the NTNUI Ju Jitsu group.</p>
    </a>
    <a href="?page=practice">
      <img alt="practice" src="images/index/practice.jpg">
      <h1>What we practice</h1>
      <p>We practice a variety of techniques for self defense, such as striking, takedowns and submissions. More details inside.</p>
    </a>
    <a href="?page=culture">
      <img alt="culture" src="images/index/culture.jpg">
      <h1>Training culture</h1>
      <p>We want the best possible learning environment, so respect your training partners! Read about proper behavior in practices.</p>
    </a>
    <a href="?page=schedule">
      <img alt="schedule" src="images/index/schedule.jpg">
      <h1>Schedule</h1>
      <p>Find out when the next practice is, so you can come join us!</p>
    </a>
    <a href="http://drive.google.com/folderview?id=0B5lLylGevcItOTd3M1UtTG95WW8&amp;usp=sharing" target="_blank">
      <img alt="archive" src="images/index/archive.jpg">
      <h1>Archive</h1>
      <p>Check out our archive on Google Drive. It includes the grading syllabus, videos, books, useful links to other sites, and more.</p>
    </a>
    <a href="?page=contact">
      <img alt="contact" src="images/index/contact.jpg">
      <h1>Contact us</h1>
      <p>Any questions? Send us an email or join us on Facebook.</p>
    </a>
    <a href="?page=roadmap">
      <img alt="roadmap" src="images/index/roadmap.jpg">
      <h1>Where to find us</h1>
      <p>Detailed directions to our training facilities at SiT Gløshaugen.</p>
    </a>
  </div>
      
  <!-- Link to gallery -->
  <h1 id="photolink"> <a href="?page=photos">View more images</a> </h1>
</div>